@font-face {
    font-family: DellaRespiraReg;
    src: url(/font/DellaRespira-Regular.ttf);
}

body {
    width: 50%;
    text-align: right;
    line-height: 2.5;
    font-size: 1.5em;
    color: rgb(124, 138, 189);
}

p{ font-size: 120px;
        text-transform: uppercase;
        letter-spacing: -3px;
        transition: 700ms ease;
        font-variation-settings: "wght" 311;
        margin-bottom: 0.8rem;
        color: PaleGoldenRod;
        outline: none;
        text-align: left !important;
}

.title{
    margin-left: 20vw;
    width: 60vmax;
}
