@font-face {
    font-family: DellaRespiraReg;
    src: url(/font/DellaRespira-Regular.ttf);
}

body {
    margin: auto;
    width: 100vw;
    height: 100vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

.sidebar{
    object-fit: cover;
    object-position: 50% -100vh;
    width:25vw;
}

#mainBody{
    margin: 1.5em;
    margin-top: 55vw;
    display:flex;
}

#content{
    font-family: DellaRespiraReg;;
    font-size: 1.2vw;
    width: 40vw;
    margin: 0 auto; 
    line-height: 1.9vw;
}

.titleStatic{
    position: absolute;
    height: 55vw;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}

.title{
    position: absolute;
    height: 55vw;
    left: 22.5%
}

